<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/pic1.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>
            {{message}}<br><br>
            {{contact}}
        </p>
        </div>

        {{>footer}}
    </body>
</html>